<form class="comment-form card" id="comment-form">
  <div class="card-header">Add New Comment</div>
  <div class="comment-form-body">
    <div>
      <input class="form-input" type="text" id="comment-body" />
    </div>
    <div>
      <button type="submit" class="btn" id="comment-btn">Add Comment</button>
    </div>
  </div>
</form>
<script src="/js/comment.js"></script>