<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Tech-Blogginator</title>
</head>
<body class="flex-column min-100-vh">
    <header class="hero">
        <nav class="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {{#if loggedIn}}
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <li>
                    <a href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </nav>
        <h1 class="app-title">Tech-Blogginator</h1>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

{{!-- in order to not receive an error after removing the logout button from the page, wrap the <script> element with an {{#if}} helper --}}
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>